:root {
  --color-black: #000000;
  --color-gray: #292929;
  --color-white: #ffffff;

  --color-red: red;
  --color-yellow: yellow;

  /* TODO: Define layout, font and thematic color variables. */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;

  color-scheme: dark;
}

body {
  min-height: 100%;
  overflow-x: hidden;
}